    @page "/agregarCurso"
    @inject NavigationManager Navegador
    @inject AgregarCursoUseCase AgregarCursoUseCase
    @inject GetCursoUseCase GetCursoUseCase
    @inject ModificarCursoUseCase ModificarCursoUseCase

    
<h1>Agregar un nuevo curso</h1>
    
@if (_errorSeleccion)
{
    <p class="alert alert-danger">Los campos titulo o descripcion no pueden estar vacios</p>
}    

<input placeholder="Titulo" @bind="_curso.Titulo" class="form-control">
<input placeholder="Descripcion" @bind="_curso.Descripcion" class="form-control">
<input type="datetime-local" placeholder="Fecha de inicio" @bind="_curso.FechaInicio" class="form-control">
<input type="datetime-local" placeholder="Fecha de finalizacion" @bind="_curso.FechaFin" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
@code 
{
    Curso _curso = new Curso();     

    bool _errorSeleccion=false;
    void Aceptar()
    {
    if((_curso.Titulo !="" ) || (_curso.Descripcion !="" ))
    {
        AgregarCursoUseCase.Ejecutar(_curso);
        _curso = new Curso();
        Navegador.NavigateTo("/");
    }
    else
    {
        _errorSeleccion= true;
    }
    }
}
