@page "/listadoEstudiantesCursoFinalizado"


<PageTitle>ListadoEstudiantesCursoFinalizado</PageTitle>

<h1>Estudiantes con curso/s finalizado/s </h1>

 <table class="table">
        <thead>
            <tr>
                <th>Nombre estudiantes</th>
                <th>Apellido estudiantes</th>
                <th>Titulo del Curso</th>

            </tr>
        </thead>
        <tbody>
            @* @foreach (var curso in cursos) *@
             @* {  *@
                <tr>
                     <td>Nipu</td>
                    <td>Nipu2</td>
                    <td>Nipu3</td>
                </tr>
        </tbody>
    </table>