@page "/verEstudiantes"

<PageTitle>VerEstudiantes</PageTitle>

@* @inject GetEstudianteUseCase GetEstudiante *@
@inject AgregarEstudianteUseCase AgregarEstudianteUseCase
@inject ModificarEstudianteUseCase ModificarEstudiante 
@inject EliminarEstudianteUseCase EliminarEstudiante 
@inject GetEstudiantesUseCase GetEstudiantesUseCase
@inject NavigationManager Navegador



<h1>Estudiantes: </h1>
<table class="table">

<td>
    <button class="btn btn-success" @onclick="()=>agregarEstudiante()" > Agregar Nuevo Estudiante</button>
</td>
<td>
    <a href="listadoEstudiantesCursando"><button class="btn btn"> Ver estudiantes aun cursando</button></a>
</td>
<td>
    <a href="listadoEstudiantesCursoFinalizado"><button class="btn btn" > Ver estudiantes con cursos finalizados</button></a>
</td>

</table>
 <table class="table">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Mail</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Estudiante in _estudiantes)
             { 
                <tr>
                    <td>@Estudiante.DNI</td>
                    <td>@Estudiante.Nombre</td>
                    <td>@Estudiante.Apellido</td>
                    <td>@Estudiante.Mail</td> 
                    <td>
                        <button class="btn btn-primary btn-xs" >Ver Estudiante </button>
                        <button class="btn btn-primary btn-xs" @onclick="()=>verCursosDelEstudiante(Estudiante.Id)"> Ver cursos </button>
                        <button class="btn btn-info btn-xs">Modificar Estudiante</button>
                        <button class="btn btn-danger btn-xs" >Eliminar Estudiante</button>
                    </td> 
                </tr>

                @* DENTRO DE LOS BOTONES *@
                 @* @onclick="()=>ModificarEstudiante.Ejecutar(Estudiante.id)" *@
                @* @onclick="()=>EliminarEstudiante.Ejecutar(Estudiante.id)" *@
            } 
        </tbody>
        
    </table>

@code{
    List<Estudiante> _estudiantes = new List<Estudiante>();
     protected override void OnInitialized()
    {     
        _estudiantes = GetEstudiantesUseCase.Ejecutar();
    }
    void verCursosDelEstudiante(int id_estudiante){
        
        Navegador.NavigateTo($"verCursosEstudiante/{id_estudiante}");
    }

    void agregarEstudiante(){
        Navegador.NavigateTo($"agregarEstudiante");
    }
}
