@page "/verInscripciones"

<PageTitle>VerInscripcions</PageTitle>

@inject GetInscripcionesUseCase GetInscripcionesUseCase
@inject GetInscripcionUseCase GetInscripcionUseCase 

@inject EliminarInscripcionUseCase EliminarInscripcionUseCase

@inject NavigationManager Navegador
@inject IJSRuntime JsRuntime

<h1>Inscripciones: </h1>

<button class="btn btn-success" @onclick="()=>agregarInscripcion()"> Agregar Nueva Inscripcion</button>

 <table class="table">
        <thead>
            <tr>
                <th>FechaInscripcion</th>
                <th>Curso</th>
                <th>Nombre Estudiante</th>
                <th>Apellido Estudiante</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Inscripcion in _inscripciones)
             { 
                <tr>

                    <td>@Inscripcion.FechaInscripcion</td>
                    <td>@Inscripcion.Curso?.Titulo</td>
                    <td>@Inscripcion.Estudiante?.Nombre</td>
                    <td>@Inscripcion.Estudiante?.Apellido</td>

                    <td><button class="btn btn-primary" >Ver Inscripcion </button>
                        <button class="btn btn-info" @onclick="()=>modificarInscripcion(Inscripcion.Id)">Modificar Inscripcion</button>
                        <button class="btn btn-danger" @onclick="()=>eliminarInscripcion(Inscripcion.Id)">Eliminar Inscripcion</button>
                    </td> 
                </tr>
            } 
        </tbody>
    </table>

@code{



     List<Inscripcion> _inscripciones = new List<Inscripcion>();
     protected override void OnInitialized()
    {     
        _inscripciones = GetInscripcionesUseCase.Ejecutar();
    }
    void verCursosDelEstudiante(int id_estudiante){
        
        Navegador.NavigateTo($"verCursosEstudiante/{id_estudiante}");
    }

    void agregarInscripcion()
    {
        Navegador.NavigateTo($"agregarInscripcion");
    }
    void modificarInscripcion(int id_inscripcion)
    {
        Navegador.NavigateTo($"modificarInscripcion/{id_inscripcion}");
    }
    void eliminarInscripcion()
    {
        Navegador.NavigateTo($"agregarInscripcion");
    }
     async Task eliminarInscripcion(int id)
    {
        var _inscripcionSeleccionado= GetInscripcionUseCase.Ejecutar(id);
        if(_inscripcionSeleccionado != null)
        {
            bool confirmado= await JsRuntime.InvokeAsync<bool>("confirm",$"Esta seguro que desea borrar el estudiante con id {_inscripcionSeleccionado.Id}?");
            if(confirmado)
            {
                EliminarInscripcionUseCase.Ejecutar(id);
                _inscripciones = GetInscripcionesUseCase.Ejecutar();
            }
        }
    }
}