@page "/verInscripciones"

<PageTitle>VerInscripcions</PageTitle>

@inject GetInscripcionesUseCase GetInscripcionesUseCase
@inject AgregarInscripcionUseCase AgregarInscripcion 
@inject ModificarInscripcionUseCase ModificarInscripcion 
@inject EliminarInscripcionUseCase EliminarInscripcion 
@inject NavigationManager Navegador


<h1>Inscripciones: </h1>

<button class="btn btn-success" @onclick="()=>agregarInscripcion()"> Agregar Nueva Inscripcion</button>

 <table class="table">
        <thead>
            <tr>
                <th>FechaInscripcion</th>
                <th>Curso</th>
                <th>Estudiante</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Inscripcion in _inscripciones)
             { 
                <tr>

                    <td>Inscripcion.FechaInscripcion</td>
                    <td>Inscripcion.Curso</td>
                    <td>Inscripcion.Estudiante</td>
                    <td><button class="btn btn-primary" >Ver Inscripcion </button>
                        <button class="btn btn-info">Modificar Inscripcion</button>
                        <button class="btn btn-danger" >Eliminar Inscripcion</button>
                    </td> 
                </tr>
                 

                @* DENTRO DE LOS BOTONES *@
                 @* @onclick="()=>ModificarInscripcion.Ejecutar(Inscripcion.id)" *@
                @* @onclick="()=>EliminarInscripcion.Ejecutar(Inscripcion.id)" *@
            } 
        </tbody>
    </table>

@code{
     List<Inscripcion> _inscripciones = new List<Inscripcion>();
     protected override void OnInitialized()
    {     
        _inscripciones = GetInscripcionesUseCase.Ejecutar();
    }
    void verCursosDelEstudiante(int id_estudiante){
        
        Navegador.NavigateTo($"verCursosEstudiante/{id_estudiante}");
    }

    void agregarInscripcion(){
        Navegador.NavigateTo($"agregarInscripcion");
    }
}